################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ShopVueApp/shopvueapp.client/node_modules
